html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0;
    color: #fff;
    position: relative;
    background: rgba(50,61,40,1);
    background: -moz-linear-gradient(45deg, rgba(50,61,40,1) 0%, rgba(2,0,31,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(50,61,40,1)), color-stop(100%, rgba(2,0,31,1)));
    background: -webkit-linear-gradient(45deg, rgba(50,61,40,1) 0%, rgba(2,0,31,1) 100%);
    background: -o-linear-gradient(45deg, rgba(50,61,40,1) 0%, rgba(2,0,31,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(50,61,40,1) 0%, rgba(2,0,31,1) 100%);
    background: linear-gradient(45deg, rgba(50,61,40,1) 0%, rgba(2,0,31,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323d28', endColorstr='#02001f', GradientType=1 );
}
.position-bottom{
    position: absolute;
    float: left;
    bottom: 0;
    width: 100%;
}
#totoro{
    z-index: -1;
}
.scene{
    z-index: 1;
}

canvas{
    position: absolute;
    bottom: 0;
}